.App {
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}

#upload-container,
#settings-container {
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 250px;
  margin-bottom: 5px;
  text-align: left;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
